*{font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: local('Pretendard Medium'), url(../assets/fonts/woff/Pretendard-Medium.woff) format('woff');}

  .titlefs{font-size: var(--title--lg--text-6xl--semibold); font-weight: 600; }
/* header-top-menu */

#header .header-top-menu{height: 32px;}
#header .header-top-menu .utility{display: flex; justify-content: flex-end; padding-right: 56px; padding-top: 7px; gap: 24px; font-size: var(--body--small--text-6xl--regular, 12px);}
#header .header-top-menu .utility > li:hover > a{
  text-decoration: underline;
}
#header .logo > a {display: block; width: 272px;}

/*header-middle-menu  */
.header-middle-menu{max-width:1200px; margin: auto; display: flex; align-items: center; /*margin-top: 32px; justify-content: space-between;*/ height: 100px; position: relative;}
.header-utility-box{position: relative;}

#searchInput{width:650px; height: 48px; ; border: 1px solid var(--Neutral-neutral-200); box-shadow: 0 0 4px #00000025; padding-left: 20px; border-radius: 24px; outline: none;}
#searchInput.active{border-radius: 10px 10px 0px 0px;}
.search-box-result{
  background: var(--primary--white);
  position: absolute;
  width: 100%;
  z-index: 500;
  border-top: 1px solid var(--neutral--neutral-300);
  box-shadow: 0 0 2px #00000025;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.search-box-result .container > button{display: flex; justify-content: flex-end; font-size: 0; background: url(../img/header/delete.svg) no-repeat top 10px right 10px; width: 44px; height: 44px; position: absolute; right: 0;} 
.btn-search{background: url(../img/header/search-sm.svg) no-repeat center; width: 44px; height: 44px; font-size: 0; position: absolute; right: 0;}
.recommended-search > h2,
.popular-search > h2{font-size:var(--body--large--text-6xl--medium);font-weight:500; padding: 20px 20px 10px 20px ;}
.recommended-search > ul,
.popular-search > ul{display: flex; padding: 10px 20px; gap: 10px;}
.recommended-search > ul > li,
.popular-search > ul > li{font-size: var(--body--normal--text-6xl--medium);}
.popular-search > ul > li{width: 100px; height: 30px; background-color: var(--neutral--neutral-300); border-radius: 100px; display: flex; justify-content: center; align-items: center; }
.popular-search > ul > li > span{padding-right: 10px;}





.header-top-slider{position: absolute; right:0; top:10px; width: 272px;}
/*bxslider 수정 시작*/
.header-top-slider img{width: 100%; height: 100%; min-width: 100%;min-height: 100%;}
.bx-wrapper{box-shadow:none;border:none;background: none;margin-bottom: 0;min-height: 100%;height: 100%}
.bx-viewport{min-height: 100%;height: 100%}
.bx-wrapper .bx-controls-auto{bottom: 15px; z-index: 6000;}
.bx-wrapper .bx-controls-auto .bx-start{background: url(../img/header/play.svg) no-repeat center; width: 15px;height: 15px}
.bx-wrapper .bx-controls-auto .bx-stop{background: url(../img/header/pause.svg) no-repeat center;width: 15px;height: 15px}

.bx-wrapper .bx-controls-direction a{margin-top: 0; width: 9px;height:15px;  display: block; top: auto;}
.bx-wrapper .bx-prev{background: url(../img/header/prev.svg);left:54%;}
.bx-wrapper .bx-next{background: url(../img/header/prev.svg);transform:translateY(10%) rotate(180deg);right: 20%;}
.bx-wrapper .bx-next:focus, .bx-wrapper .bx-next:hover{background-position: 0 0}
.bx-wrapper .bx-has-controls-auto{position:relative; bottom: 0;}
.bx-wrapper .bx-controls-auto{position:relative}
.bx-wrapper .bx-controls-auto .bx-start:hover {background-position: center}
.bx-wrapper .bx-controls-auto .bx-stop:hover {background-position: center}
/*bxslider 수정 끝*/


/* count */
.slider_num {position: absolute;right: 26%; bottom: -15px; z-index: 10000; }
.slider_num p span{color: var(--primary--black); font-size: 12px;line-height: 16px;margin: 0 4px;}
.slider_num p span.count{font-size: 14px;font-weight: bold;position: relative;}
.slider_num p span.count::after{content: '';background: var(--primary--black);width: 2px;height: 12px;position: absolute;top:4px;right:-6px; }



/* header-contents */
.header-contents{width: 100%; background-color: var(--primary--primary-600); height: 48px; margin-top: 50px; position: relative;}
.header-contents > nav > .gnb{display: flex; max-width: 1200px; margin: auto; align-items: center; justify-content: space-between; }
.header-contents > nav > .gnb > li{
  display: flex;
  align-items: center;
  height: 48px;
  color: var(--primary--white);
}

/*gnb*/
.dep2-bg-box{
  position: absolute;
  left:0;
  top: 48px;
  width: 100%; 
  background-color: var(--primary--white);
  box-shadow: 0 2px 2px #00000012;
  z-index: 1000;
  display: none;
  /* opacity: 0;
  visibility: hidden;
  transition:  0.3s; */
}

/*nav 작동*/
/* #header .header-contents .gnb>li:hover .deb2-bg-box{
  opacity: 1;
  visibility: visible;
} */
#header .header-contents .gnb>li>a{
  display:block;
  line-height:24px;
  display: flex;
  align-items: center;
  border:3px solid transparent;
  height: 48px;
}
#header .header-contents .gnb>li:hover>a{
  border-bottom:3px solid var(--primary--primary-900);}

.dep2-center-area{
  padding: 20px 20px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  height: 400px;
}
.dep2-center-area>div{
  display: flex;
  flex-direction: column;
  align-self: center;
}


.dep2-left-title{
  padding-top: 12px;
  text-align:  center;
  color: var(--primary--black);
  font-size: var(--title--normal--text-6xl--bold);
  font-weight: 700;
}
.dep2-left-title > .bottom-title{
  color: var(--primary--primary-600);
  padding-top: 10px;

}
.dep2-links{
  width: 973px;
  display: flex;
  justify-content: center;
  gap: 52px;

}
.dep2-left{
  text-align: center;
}

.dep2-links>.dep2-links-title> a{
 width: 460px;
 display: flex;
 align-items: center;
 color:var(--primary--black);
 font-size: var(--body--large--text-6xl--semibold);
 font-weight: bold;
 border: 1px solid #5CBC00;
 border-radius: 8px;
 padding: 12px 10px;

}
.dep2-links>.dep2-links-title > a.active{
  background-color: var(--primary--primary-600);
  color: var(--primary--white);}


/* .dep3-links */
.dep3-links{display: flex; gap: 52px;  color: var(--primary--black); padding-bottom: 20px; font-weight: 400;}
.dep3-links .dep3-links-left li, .dep3-links .dep3-links-right li{
  padding: 14px 14px;
}
.dep2-links > .dep3-links1 .dep3-links-left-1,.dep2-links > .dep3-links1 .dep3-links-right-2{display: flex; gap: 52px; }
.dep3-links>li a:hover{text-decoration: underline;}

/*놀이프로그램*/
.dep3-links1{width: 973px;}
.dep2-links > .dep3-links1 .dep3-links-left-1 > ul, .dep2-links > .dep3-links1 .dep3-links-right-2 > ul{ width: 220px;}
.dep2-links > .dep3-links1 .dep3-links-left-1 > ul > li, .dep2-links > .dep3-links1 .dep3-links-right-2 > ul>li{padding: 14px 14px;}

/*월간유아/교사도움/도란도란*/
.dep2-links1>.dep2-links-title > a{
  width: 286px;
}
.dep3-links-gap{gap:30px;}

.mainbanner{
  width: 100%;
  height: 100%;
  position: relative;
}
.mainbanner .swiper-slide{width: 100% !important;}

.mainbanner .swiper-pagination-bullet{
  width: 10px;height: 10px;
  background-color: var(--primary--black);
  opacity: .2;
}
.mainbanner .swiper-pagination-bullet.swiper-pagination-bullet-active{
  opacity: 1;
  padding: 0 15px;
  border-radius: 10px;
}
.mainbanner .swiper-horizontal>.swiper-pagination-bullets,.mainbanner .swiper-pagination-bullets.swiper-pagination-horizontal,.mainbanner .swiper-pagination-custom,.mainbanner .swiper-pagination-fraction{
  width: 100%;
  bottom: 30px;
  left: 30px;
}
/* next prev  */
.mainbanner .swiper-button-prev:after,
.mainbanner .swiper-rtl .swiper-button-next:after{
  content:'' !important;
  display: block;
  background: url(../img/banner/prev.svg) no-repeat;
  width: 44px;height: 44px;
}
.mainbanner .swiper-button-next:after,
.mainbanner .swiper-rtl .swiper-button-prev:after{
  content:'' !important;
  display: block;
  background:url(../img/banner/next.svg) no-repeat;
  width: 44px;height: 44px;
}
.mainbanner .swiper-button-next, 
.mainbanner .swiper-button-prev{
  width: 44px;height: 44px;
  opacity: 0.5;
}
.mainbanner .swiper-button-next:hover, 
.mainbanner .swiper-button-prev:hover{
  width: 44px;height: 44px;
  opacity: 1;
}


/*teacher-life*/
#teacher-life{margin: 65px auto 0; width: 1200px;} 
#teacher-life  > h2{text-align: center; margin-bottom: 30px;}
#teacher-life > ul{ display: flex; justify-content: space-between; padding-top: 35px; }
#teacher-life > ul > li > a{ display: flex; flex-direction: column; justify-content: center; text-align: center;}
#teacher-life .teacher-title{padding: 10px;}

/*bookmark*/
#bookmark{background: var(--neutral--neutral-100); height: 493px; display: flex; justify-content: center; margin-top: 125px; position: relative; gap: 50px; align-items: center;}
.bookPos{position: relative;}
#bookmark .bookmark-wrap{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 250px
}
#bookmark  .bookmark-title{display: flex; justify-content: center; gap: 10px; align-items: center;}
#bookmark  .bookmark-title > h2{
  font-size: var(--title--small--text-6xl--bold);
  text-align: center;
  font-weight: 700;
  color: var(--primary--primary-600);
}

/*#id_my_menu_set*/
#bookmark #id_my_menu_set{ width: 360px; position: absolute; z-index: 100; left: 34%; background: var(--primary--white); display: none;}
#bookmark #id_my_menu_set.active{display: block;}
#bookmark #id_my_menu_set > h3{font-size: var(--title--small--text-6xl--medium);}
#bookmark #id_my_menu_set > .my_menu_set_title{text-align: center; display: flex; justify-content: space-between; height: 40px; align-items: center; padding: 10px; background: #5CBC00;}
#bookmark  #id_my_menu_set ul {display: flex; flex-wrap: wrap; background-color: var(--primary--white);}
#bookmark  #id_my_menu_set ul li{width: 120px; height:40px; display: flex; text-align: center; justify-content: center; align-items: center; border: 1px solid #ccc;}
#bookmark .my_menu_set_btn{display: flex;justify-content: center;}
#bookmark .my_menu_set_btn > a{ background: var(--primary--black); width: 100px; color: var(--primary--white); height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 30px;}
#bookmark .my_menu_set_age > li:hover{background-color: var(--neutral--neutral-200); text-decoration: underline;}

/*bookmark1*/

#bookmark .bookmark-all{
padding-top: 30px;
}
#bookmark .bookmark-top > div ,
#bookmark .bookmark-bottom > div{display: grid; grid-template-columns: 1fr 1fr 1fr; place-items: center;}

#bookmark .delete{
  position: relative;
}
.remove_btn{
  position: absolute;
  top: -5px;
  right: 0;
  background-color: red;
  height: 24px; width: 24px;
  background: url(../img/bookmark/delete.svg) no-repeat right top / contain;
}

#bookmark .bookmark-top > div .plus_btn,
#bookmark .bookmark-bottom > div .plus_btn{width: 80px;height: 80px; border-radius: 50%; border: 1px solid #fff; display: flex; justify-content: center; align-items: center;/*font-size: 0;*/ background: var(--primary--white);}


#bookmark .bookmark-grid-gap{
  display: grid;
  grid-row-gap: 15px;
}
/*.bookmark-grid-gap .plus_btn_wrap> span:hover{background-color: #fff; cursor: pointer;}*/


/*bookmark2*/
#bookmark .bookmark-data{text-align: center; padding-top: 30px;}
#bookmark .bookmark-data > p:first-child{padding-bottom: 10px;}
#bookmark .bookmark-popular > ul{padding-top: 30px}
#bookmark .bookmark-popul-top{margin-top: 10px;}
#bookmark .bookmark-popul-top > div{display: grid; grid-template-columns: 1fr 2fr 1fr; place-items: center;}
#bookmark .bookmark-popul-top > div > span > a{width: 90px;height: 40px; border-radius: 40px; border: 1px solid #fff; display: flex; justify-content: center; align-items: center; background-color: var(--primary--white); }
#bookmark .bookmark-popul-top > div> span:hover > a{
  background-color: var(--neutral--neutral-300);
}

#bookmark .bookmark-popular{padding-top: 10px;}
.more{font-size: var(--body--normal--text-6xl--medium); display: flex; align-items: center; margin-top: 50px; color: var(--neutral--neutral-600);}
.more:after{content: ''; background: url(../img/bookmark/chevron-right.svg) no-repeat 5px 5px ; display: inline-block; height: 20px; width: 12px;}


/*bookmark3*/
#bookmark .bookmark-sf {
  text-align: center;
  padding-top: 30px;
}
#bookmark .bookmark-safe {
  padding-top: 10px;
}
#bookmark .bookmark-safe > ul{padding-top: 30px}
#bookmark .bookmark-safe-top > div{display: grid; grid-template-columns: 1fr 1fr; place-items: center;}
#bookmark .bookmark-safe-top > div > span > a{width: 100px;height: 40px; border-radius: 40px; border: 1px solid #fff; display: flex; justify-content: center; align-items: center; background-color: var(--primary--white, #fff); }
#bookmark .bookmark-safe-top > div > span:hover > a{background-color: var(--neutral--neutral-300);}
#bookmark .bookmark-safe-top {
  margin-top: 10px;
}

/* bookmark:hover */
.path-hover1 path,
.path-hover2 path,
.path-hover3 path{transition: fill 0.3s ease;}
.path-hover1 path{fill: #a8d177;  }
.path-hover2 path{fill: #3f9bee;}
.path-hover3 path{fill: #e9c02f;}

/*recom-card*/
#contentArea{
  padding-left: 30px ;
  padding-right: 30px;
  width: 986px;
  margin: 48px auto;
}
.carousel-title{text-align: center; display: flex; justify-content: space-between; margin-bottom: 10px;}
.carousel-title > span{
  margin-top: 50px;
}

.slider-card{
  border: 1px solid transparent;
}
.slider-card:hover{
  border-color: var(--primary--black);
}
.slider-card .card-thumnail-box{
  position: relative;
}
.slider-card .card-thumnail-box button{
  position: absolute;right:12px;top:12px;z-index: 11;
}
.slider-card .card-title-box span{
 display: block;
}
.slider-card .card-title-box{padding:8px 0 8px 6px}
.slider-card .card-title-box .recom-name{
  font-size: var(--body--large--text-6xl--regular);
  line-height: 24px;
  margin-bottom: 4px;
  color:var(--primary--black);
}
.slider-card .card-title-box .recom-category{
  font-size: var(--body--normal--text-6xl--regular);
  line-height: 20px;
  color:var(--neutral--neutral-500)
}
/* 플러그인 css수정 */
.swiper-slide{
  width: 22% !important;
}
.swiper-slide img{
  width: 100%;
    /*사진은 큰걸 줄여서 쓰는게 해상도 안깨짐. 딱 맞는 사이즈 쓰면 2배수 써도 해상도 깨짐.*/
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  bottom: 0;
  top:auto;
}
.recom-tab-Swiper{
  padding-bottom: 36px;
}
.swiper-pagination-progressbar{
  background: var(--neutral--neutral-400,#98A2B3);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: var(--primary--black);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 0);
  left: auto;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, 0);
  right: auto;
}
.recom-tab-Swiper .swiper-button-next,
.recom-tab-Swiper .swiper-rtl .swiper-button-prev,
.product-tab-Swiper .swiper-button-next,
.product-tab-Swiper .swiper-rtl .swiper-button-prev,
.more-services-Swiper .swiper-button-next,
.more-services-Swiper .swiper-rtl .swiper-button-prev{
  width: 30px;height: 50px;
  background-color: #fff;

}
.recom-tab-Swiper .swiper-button-next:hover,
.recom-tab-Swiper .swiper-rtl .swiper-button-prev:hover,
.product-tab-Swiper .swiper-button-next:hover,
.product-tab-Swiper .swiper-rtl .swiper-button-prev:hover,
.more-services-Swiper .swiper-button-next:hover,
.more-services-Swiper .swiper-rtl .swiper-button-prev:hover
{
  width: 30px;height: 50px;
  background-color: var(--primary--primary-600);

}
.recom-tab-Swiper .swiper-button-prev,
.recom-tab-Swiper .swiper-rtl .swiper-button-next,
.product-tab-Swiper .swiper-button-prev,
.product-tab-Swiper .swiper-rtl .swiper-button-next,
.more-services-Swiper .swiper-button-prev,
.more-services-Swiper .swiper-rtl .swiper-button-next
{
  width: 30px;height: 50px;
  background-color: #fff;
}
.recom-tab-Swiper .swiper-button-prev:hover,
.recom-tab-Swiper .swiper-rtl .swiper-button-next:hover,
.product-tab-Swiper .swiper-button-prev:hover,
.product-tab-Swiper .swiper-rtl .swiper-button-next:hover,
.more-services-Swiper .swiper-button-prev:hover,
.more-services-Swiper .swiper-rtl .swiper-button-next:hover
{
  width: 30px;height: 50px;
  background-color: var(--primary--primary-600);
}
.recom-tab-Swiper .swiper-button-next:after,
.recom-tab-Swiper .swiper-rtl .swiper-button-prev:after,
.product-tab-Swiper .swiper-button-next:after,
.product-tab-Swiper .swiper-rtl .swiper-button-prev:after,
.more-services-Swiper .swiper-button-next:after,
.more-services-Swiper .swiper-rtl .swiper-button-prev:after{
  content: '';
  background: url(../img/carousel/next.svg) no-repeat center center;
  width: 44px;
  height: 44px;
}
.recom-tab-Swiper .swiper-button-next:hover:after,
.recom-tab-Swiper .swiper-rtl .swiper-button-prev:hover:after,
.product-tab-Swiper .swiper-button-next:hover:after,
.product-tab-Swiper .swiper-rtl .swiper-button-prev:hover:after
{
  background-image:url(../img/carousel/next.svg);
  color: #fff;
  
}
.recom-tab-Swiper .swiper-button-prev:after,
.recom-tab-Swiper .swiper-rtl .swiper-button-next:after
.product-tab-Swiper .swiper-button-prev:after,
.product-tab-Swiper .swiper-rtl .swiper-button-next:after{
  content: '';
  background: url(../img/carousel/prev.svg) no-repeat center center ;
  width: 44px;
  height: 44px;
}
.recom-tab-Swiper .swiper-button-prev:hover:after,
.recom-tab-Swiper .swiper-rtl .swiper-button-next:hover:after,
.product-tab-Swiper .swiper-button-prev:hover:after,
.product-tab-Swiper .swiper-rtl .swiper-button-next:hover:after{
  background-image:url(../img/carousel/prev.svg);
}
/* ad2 */
#ad2{display: flex; justify-content: center; gap: 37px; margin-top: 100px;}

/* #shopping-contentArea */
#shopping-contentArea{
  width: 1200px;
  margin: 48px auto;
}
#shopping-contentArea > .hot-keyword{text-align: center;}
#shopping-contentArea > .hot-keyword > h2{font-size: var(--title--small--text-6xl--bold);  margin-bottom: 30px;}
#shopping-contentArea > .hot-keyword >  ul{display: flex; justify-content: center; margin-bottom: 58px; gap: 22px;}
#shopping-contentArea > .hot-keyword >  ul > li > a{background-color: var(--neutral--neutral-200); border-radius: 40px; width: 120px; height: 42px; display: flex; justify-content: center; align-items: center; }
#shopping-contentArea > .hot-keyword >  ul > li:hover > a{
  background-color: var(--neutral--neutral-300);
}
.shopping-product-carousel-1{display: grid; grid-template-columns: 1fr 8fr;}
.shopping-product-carousel-1 > .shopping{display: flex;align-items: center;text-align: center;flex-direction: column; gap: 10px;padding-right: 30px;}
.shopping-product-carousel-1 > .shopping > h2{font-size: var(--title--lg--text-6xl--medium);font-weight: 600;}
.shopping-product-carousel-1 > .shopping > .shopping-more{margin-top: 0;}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: '';
  background:url(../img/carousel/prev.svg) no-repeat center center ;
  width: 44px;
  height: 44px;
}
.shopping-card-thumnail-box{position: relative;}
.shopping-card-thumnail-box:before{content: '01'; background: url(../img/shopping/rank.png) no-repeat; width: 75px; height: 38px; display: flex; position: absolute; justify-content: flex-start; align-items: center; font-size: var(--title--lg--text-6xl--medium); color: var(--primary--white); padding-left: 10px;}
.before2::before{content: '02';}
.before3::before{content: '03';}
.before4::before{content: '04';}
.before5::before{content: '05';}
#shopping-contentArea .product-name-wrap{padding-bottom: 20px;}
#shopping-contentArea .company{font-size: var(--body--small--text-6xl--regular); 	font-weight: 400; padding-bottom: 10px;}
#shopping-contentArea .product-name{font-size:13px; font-weight: 400; }
#shopping-contentArea .price{font-size:var(--body--large--text-6xl--medium); 	font-weight: 500; display: flex; justify-content: space-between;}
#shopping-contentArea .sale{color: var(--warning--warning-500);}

/* member-benefit */
#member-benefit-contentArea{background-color: var(--neutral--neutral-200); margin-top: 48px;}
#member-benefit-contentArea > .member-benefit {display: grid; grid-template-columns: 1fr 5fr; width: 1200px; justify-content: center; margin: auto; padding-top: 40px; height: 400px;}

#member-benefit-contentArea .benefit-title > span {font-size: var(--body--large--text-6xl--medium); font-weight: 500;}

#member-benefit-contentArea .benefit-title h2{padding: 30px 0px 10px 0;}

#member-benefit-contentArea .benefit-more {margin-top: 0;}
#member-benefit-contentArea .benefit-right {display: flex; gap: 20px;}
#member-benefit-contentArea .benefit-product-title {display: grid;}
#member-benefit-contentArea .benefit-product-title >.top-title{font-size: var(--body--normal--text-6xl--regular); font-weight: 400; padding-top: 10px;}
#member-benefit-contentArea .benefit-product-title >.bottom-title{font-size: var(--title--small--text-6xl--medium); font-weight: 500; padding-top: 10px;}

/* special-day */
#special-day-contentArea{padding-top: 48px; padding-left: 48px; padding-right: 48px;}
.special-day{max-width: 1200px; margin: auto; display: flex; gap: 77px; padding-top: 48px;}
#special-day-contentArea > h2{text-align: center; margin-bottom: 30px;}
#special-day-contentArea > .kraft-wrap{max-width: 557px;}
#special-day-contentArea > .special-wrap{max-width: 566px;}
#special-day-contentArea .day-title-kraft, 
#special-day-contentArea .day-title-special{display: flex; align-items: center; justify-content: space-between; }
#special-day-contentArea .kraft-more,
#special-day-contentArea .special-more {margin-top: 0;}
#special-day-contentArea  .kraft-wrap > .kraft-box-wrap,
#special-day-contentArea .special-box-wrap
{display: flex; gap: 13px; padding-top: 13px;}
#special-day-contentArea  .kraft-content , #special-day-contentArea .special-content{border: 1px solid #000;}
#special-day-contentArea  .kraft-content > img , #special-day-contentArea .special-content > img{height: 176px;}
#special-day-contentArea .kraft-content-title,
#special-day-contentArea .special-content-title{display: grid; padding-top: 13px; grid-gap: 5px;}
#special-day-contentArea .kraft-content-title > span:first-child,
#special-day-contentArea .special-content-title > span:first-child{font-size: var(--body--normal--text-6xl--regular); font-weight: 400;}

/* notice */
#notice-contentArea{margin-top: 100px; margin-bottom: 100px; }
#notice-contentArea > h2{text-align: center; margin-bottom: 30px;}
#notice-contentArea .notice-wrap{width: 1200px; margin: auto;}
#notice-contentArea .notice-wrap > .notice-top{display: flex;justify-content: flex-end; padding-bottom: 48px;padding-right: 20px;}
#notice-contentArea .notice-more{margin-top: 0; justify-content: flex-end;}
#notice-contentArea .notice-box-wrap{display: flex; gap: 20px;}
#notice-contentArea .notice-box{display: grid; grid-gap:50px;border: 2px solid #5CBC00; width: 380px; height: 276px; border-radius: 8px;padding: 10px;}
#notice-contentArea .notice-bottom-news{color: var(--primary--primary-600); padding: 10px;}
#notice-contentArea .notice-title{font-size: var(--title--lg--text-6xl--medium); padding: 10px;}
#notice-contentArea .notice-date{font-size: var(--title--small--text-6xl--medium); padding:10px;}


/* more-services */
#more-services-contentArea{margin-top: 48px;}
#more-services-contentArea > .more-services-carousel-2{max-width: 1200px; margin: auto;}
#more-services-contentArea > .more-services-carousel-2 > h2{margin-bottom: 30px;}

#footer{height: 400px; background-color: var(--neutral--neutral-500);margin-top: 48px;}